{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

{% with categories|first as first %}
Kategoria rodzic: <a href="{% url 'mods:category' first.slug %}">{{ first.title }}</a>
<br><br>

{% with categories|last as last %}
Kategoria: <a href="{% url 'mods:category' first.slug|add:'/'|add:last.slug %}">{{ last.title }}</a> <br>
Opis {{ last.description }} <br>
Obrazek: <img src="{{ last.image.url }}" height="500"><br><br>



{% with '/' as link %}
{% for i in categories %}
{% link|add:i.slug|add:'/' %}
{% endfor %}
{% include link %}
{% endwith %}


{{ link }}

{% endwith %}
{% endwith %}
{% endblock %}