{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% if category.subcategoryof %}
<h1> Podategoria:{{ category.title }} </h1><br>
<h2> Rodzic: {{ category.subcategoryof }}</h2>
{% else %}
<h1> Kategoria: {{ category.title }} </h1><br>
{% endif %}

{% if subcategories %}
<h2>Dostępne podkategorie: </h2>
{% for subcat in subcategories %}
Podkategoria: <a href="{% url 'mods:categoryview' subcat.slug %}">{{ subcat.title }}</a> <br>
Opis {{ subcat.description }} <br>
Obrazek: <img src="{{ subcat.image.thumbnail.200x200 }}" /><br><hr><br>


{% endfor %}
{% endif %}

{% if publications %}
<h2> Dostępne publikacje: </h2>

{% for pub in publications %}
<a href="{{ pub.get_first_image.image.url }}"><img src="{{ pub.get_first_image.image.thumbnail.150x250 }}"/></a><br>
<li><a href="{% url 'mods:publicationview' pub.id %}"> {{ pub.title }} </a></li> <br>
Ilość pobrań: {{ pub.TotalDownloads }} <br>
Autor: <a href="{% url 'mods:userpublications' pub.author.username %}">{{ pub.author }} </a><br>
Opis: {{ pub.description | truncatewords:20 }}<br> <hr>
{% endfor %}
{% else %}
Brak publikacji w tej kategorii
{% endif %}

<a href ="{% url 'mods:newpublicationwithcategory' category.slug %}">Dodaj publikacje w tej kategorii</a>


{% endblock %}
