{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% load verbose_names %}

<h1> {% get_verbose_field_name file "title" %}: {{ file.title }} </h1>

<h3><a href="{% url 'mods:goToDownload' file.id %}">Pobierz plik {{ file.physicalfile }} </a> </h3>

<h3> {% get_verbose_field_name file "version" %}: {{ file.version }}</h3>

<h3> {% get_verbose_field_name file "downloads" %}: {{ file.downloads }}</h3>
<h3> {% get_verbose_field_name file "description" %} : {{ file.description }}</h3>
<h3> {% get_verbose_field_name file "author" %} : <a href="{% url 'mods:userpublications' file.author.username %}">{{ file.author }} </a><br></h3>

{% load static %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% load ratings %}
{% ratings object %}

<h3> {% get_verbose_field_name file "pub_date" %} : {{ file.pub_date }}</h3>
<h3> {% get_verbose_field_name file "mod_date" %} : {{ file.mod_date }}</h3>
{% endblock %}
