{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'mods/style.css' %}" />

{% if publicationlist %}
	<ul>
	{% for publication in publicationlist %}
		<li><a href="{% url 'mods:publicationview' publication.id %}"> {{ publication.title }} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p> Brak dostepnych publikacji. </p>
{% endif %}
<a href="{% url 'mods:newpublication' %}"> Dodaj nowa publikacje</a>