{% extends "site_base.html" %}

{% load i18n %}
{% load publication_count %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">

            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h3>
<a href ="{% url 'mods:newpublication' %}">Dodaj nowa publikacje</a><br>
    {% if user.is_superuser %}
    <a href="{% url 'mods:modpublications' %} ">Panel moderatora (oczekuje {% notacceptedcount %} publikacji)</a><br>
    {% endif %}
</h3>

{% if categorylist %}
{% for cat in categorylist %}
Kategoria: <a href="{% url 'mods:categoryview' cat.slug %}">{{ cat.title }}</a> <br>
Opis: {{ cat.description }} <br>
Ilość publikacji: {{ cat.get_publication_count }} <br>
Ilość podkategorii: {{ cat.get_subcategories_count }} <br>
Ilość publikacji w podkategoriach: {{ cat.get_subpublications_count }} <br>
Ilość publikacji razem: {{ cat.get_sumofpublications_count }} <br>
<ul>
{% for sub in cat.get_subcats %}
<li>Podkategoria: <a href="{% url 'mods:categoryview' sub.slug %}">{{ sub.title }}</a> </li>
{% endfor %}
</ul>


Obrazek: <img src="{{ cat.image.thumbnail.200x200 }}"><br><br>
{% endfor %}
{% else %}
Brak kategoriów
{% endif %}
        </div>
{% endblock %}