{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">

{% if modpublications %}
<h2> Dostępne publikacje niezaakceptowane: </h2>
 <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
{% for pub in modpublications %}
     <input type="checkbox" name="accepted" id="{{pub.id}}" value={{pub.id}} />
     <a href="{% url 'mods:publicationview' pub.id %}"> {{ pub.title }} </a><br>
<a href="{{ pub.get_first_image.image.url }}"><img src="{{ pub.get_first_image.image.thumbnail.150x250 }}"/></a><br>

Ilość pobrań: {{ pub.TotalDownloads }} <br>
Autor: {{ pub.author }}<br>
Opis: {{ pub.description | truncatewords:20 }}<br>
            {% if user.username == userpublications.author.username or user.is_superuser %}
            <a href="{% url 'mods:publicationedit' pub.id %}">Edytuj</a> <br>
            <a href="{% url 'mods:publicationdelete' pub.id %}">Usuń</a><br>
            {% endif %}


            <hr>
{% endfor %}
     <p><input type="submit" value="Akceptuj zaznaczone publikacje" /></p>
        </form>
{% else %}
Brak publikacji wymagajacych akceptacji
{% endif %}
        </div>
        {% endblock %}
