{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% load staticfiles %}
 <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ pubform.non_field_errors }}</p>
            <p>
                  {% for field in pubform %}
                        <label for="prependedInput">{{ field.label }}</label>
                        <div class="input">
                            {{ field }}
                            <span class="help-inline">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                {% endfor %}
            </p>

     <p>{{ imgform.non_field_errors }}</p>
            <p>
                  {% for field in imgform %}
                        <label for="prependedInput">{{ field.label }}</label>
                        <div class="input">
                            {{ field }}
                            <span class="help-inline">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                {% endfor %}
            </p>

                 <p>{{ fileform.non_field_errors }}</p>
             <div class="col-md-4">
        {{ form.as_p }}

        <table class="table">
            {{ formset.management_form }}

            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add',
        deleteText: 'remove',
    })
    $("#input").append("<div class='box'></div>");
</script>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

            <p><input type="submit" value="Wyslij" /></p>
        </form>

{% endblock %}
<script src="{% static 'dist/js/jquery.formset.js' %}"></script>
