{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

{% load verbose_names %}
{% load embed_video_tags %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not publication.availability %}
<h1>Publikacja nie zaakceptowana - nie jest widoczna publicznie!</h1>
{% endif %}

<h1> {% get_verbose_field_name publication "title" %}: {{ publication.title }} </h1>
 <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
{% for file in view.filelist %}
    <h3>   <input type="checkbox" name="multidownload" id="{{file.id}}" value={{file.id}} />
  <a href="{% url 'mods:viewfile' publication.id file.id %}">Pobierz plik {{ file.title }} </a> </h3>
{% endfor %}


                 <p><input type="submit" value="Pobierz zaznaczone pliki" /></p>
        </form>
<h3><a href="{% url 'mods:report' publication.id %}">Zgłoś tą publikację</a></h3>

<h3> Ilość pobrań: {{ publication.TotalDownloads }} </h3>
<h3> {% get_verbose_field_name publication "description" %} : {{ publication.description }}</h3>
<h3> {% get_verbose_field_name publication "author" %} : <a href="{% url 'mods:userpublications' publication.author.username %}">{{ publication.author }} </a></h3>
<h3> {% get_verbose_field_name publication "pub_date" %} : {{ publication.pub_date }}</h3>
<h3> {% get_verbose_field_name publication "mod_date" %} : {{ publication.mod_date }}</h3>


{% load static %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% load ratings %}
{% ratings object %}

<h3>Obrazki:</h3>
{% for image in publication.get_images %}
<a href="{{ image.image.url }}"><img src="{{ image.image.thumbnail.150x250 }}"/></a><br>
{% endfor %}



Film: {% video publication.video 'small' %}<br>

{% if user.username == publication.author.username or user.is_superuser %}

<a href="{% url 'mods:publicationedit' publication.id %}">Edytuj</a> <br>
<a href="{% url 'mods:publicationdelete' publication.id %}">Usuń</a><br>
<a href="{% url 'mods:upload' publication.id %}">Dodaj nowy plik do wybranej publikacji (treba tu dodac warunek usera).</a>


{% else %}
{% endif %}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        s.src = '//djangofilesharer.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
