
{% extends "site_base.html" %}
{% load staticfiles %}


{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="col-md-4">
    {% load staticfiles %}
<form  method="post" enctype="multipart/form-data">
            {% csrf_token %}

{{ form.as_p }}
        <input type="submit" value="Save"/>
    </form>
</div>
{% endblock %}