 <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>
                  {% for field in form %}
                        <label for="prependedInput">{{ field.label }}</label> 
                        <div class="input"> 
                            {{ field }}
                            <span class="help-inline">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div> 
                    </div>   
                {% endfor %}
            </p>
            <p><input type="submit" value="Wyslij" /></p>
        </form>
