{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">

{% if userpublications %}
<h2> Dostępne publikacje użytkownika: </h2>

{% for pub in userpublications %}
<a href="{{ pub.get_first_image.image.url }}"><img src="{{ pub.get_first_image.image.thumbnail.150x250 }}"/></a><br>
<li><a href="{% url 'mods:publicationview' pub.id %}"> {{ pub.title }} </a></li> <br>
Ilość pobrań: {{ pub.TotalDownloads }} <br>
Autor: {{ pub.author }}<br>
Opis: {{ pub.description | truncatewords:20 }}<br>
            {% if user.username == userpublications.author.username or user.is_superuser %}
            <a href="{% url 'mods:publicationedit' pub.id %}">Edytuj</a> <br>
            <a href="{% url 'mods:publicationdelete' pub.id %}">Usuń</a><br>
            {% endif %}

            <hr>
{% endfor %}
{% else %}
Brak publikacji tego uzytkownika
{% endif %}
        </div>
        {% endblock %}
